version: '3'

services:
  
  nginx:
    image: ${PROJECT_NAME}/nginx
    build:
      context: "./nginx"
      dockerfile: "Dockerfile"
    ports:
     - "80:80"
     - "443:443"
    restart: always
    volumes:
     - ./nginx/conf.d:/etc/nginx/conf.d
     - ./nginx/ssl:/etc/nginx/ssl
     - ./nginx/html:/usr/share/nginx/html
     - ./nginx/logs:/var/log/nginx

  apache:
    image: ${PROJECT_NAME}/apache
    build:
      context: "./apache"
      dockerfile: "Dockerfile"
    ports:
     - "80:80"
     - "443:443"
    restart: always
    volumes:
     - ./apache/conf.d:/etc/apache2/conf.d
     - ./apache/ssl:/etc/apache2/ssl
     - ./apache/html:/var/www/html
     - ./apache/logs:/var/log/apache2

  mysql:
    image: ${PROJECT_NAME}/mysql
    build:
      context: "./mysql"
      dockerfile: "Dockerfile"
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
     - "3306:3306"
    restart: always
    volumes:
     - ./mysql/conf.d:/etc/mysql/conf.d
     - ./mysql/data:/var/lib/mysql
     - ./mysql/logs:/var/log/mysql

  php:
    image: ${PROJECT_NAME}/php
    build:
      context: "./php"
      dockerfile: "Dockerfile"
    restart: always
    volumes:
     - ./php/logs:/var/log/php
     - ./apache/html:/var/www/html

  phpmyadmin:
    image: ${PROJECT_NAME}/phpmyadmin
    build:
      context: "./phpmyadmin"
      dockerfile: "Dockerfile"
    ports:
      - 8888:80
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mysql
      - PMA_USER=root
      - PMA_PASSWORD=password
    volumes:
      - "./phpmyadmin/sessions:/sessions"
 
  schemaspy:
    image: ${PROJECT_NAME}/schemaspy
    container_name: schemaspy
    build:
      context: "./schemaspy"
      dockerfile: "Dockerfile"
    ports:
      - "8081:80"
    volumes:
      - ./schemaspy/html:/var/www/html:rw
      - ./schemaspy/conf/schemaspy.properties:/app/schemaspy.properties:ro
    environment:
      - LANG=ja_JP.UTF-8
      - TZ=Asia/Tokyo
    working_dir: "/app"
    command: "java -jar schemaspy.jar"

